/* this is old version, kept as reference */

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    color:white;
    box-sizing: border-box;
}

body {
    margin: auto, auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

} 

.bodyBg {
    background-color: rgb(26, 26, 26);
    background-image: url("img/shirtLogo-iphone11.svg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.img {
    max-width:100%;
    height: auto;
}

.card {
    width: 1000px;
    max-width: 90vw;
    height: auto;
    transition: all 1s ease-in-out;
    background-color: white;
    border-radius: 15px;
    border: 3px solid rgb(50,50,50);
}

.card-moveAside {
    transition: all 1s ease-in-out;
    transform: translateY(-60%) scale(.4,.4) ;
}

.titlebar {
    transition: all 1.5s ease-in-out;
    color: rgb(66, 66, 66);
    height: 50px;
    width: 100%;
    font-size: 3em;
    opacity: 0.0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: -1px 1px 2px #000,
                    1px 1px 2px #000,
                    1px -1px 0 #000,
                    -1px -1px 0 #000;
    transform: translateX(100%);
}

.titlebar-move {
    transition: all 1.5s ease-in-out;
    transform: translateX(10%);
    opacity: 1.0;
}

.mainFrame {
    width: 90%;
    height: 60%;
    position: absolute;
    bottom: 35px;
    transition: all 1s ease-in-out;
    background-color: rgb(77, 77, 77);
    opacity: 0.0;
    border-radius: 10px;
    border: 3px solid rgb(163, 139, 139);
    color: white;
    overflow: hidden;
    text-align: center;
}

.mainFrame-move {
    transition: all 1.5s ease-in-out;
    opacity: 1.0;
}